<div>{{name}} </div>

<div >
    total = {{len}}
</div>



<app-todo-button (click) = "handleMarkAll()">v</app-todo-button> 
<app-todo-input></app-todo-input>

<app-todo-list [statusFilter] = 'statusFilter'></app-todo-list>

<div >
    {{uncompletedAmount}} items left
</div>


<app-todo-button (click) = "handleSetFilter('')">All</app-todo-button>
<app-todo-button (click) = "handleSetFilter('ACTIVE')">Active</app-todo-button>
<app-todo-button (click) = "handleSetFilter('DONE')">Done</app-todo-button>


<app-todo-button (click) = "handleRemoveCompleted()">Clear Completed</app-todo-button>

